{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans 'Redefinir senha' %}{% endblock %}

{% block content %}

<h1 class="page-header">{% trans 'Redefinir senha' %}</h1>

{% include 'messages.html' %}

<div class="row">
    <div class="col-md-12">
        <p>{% blocktrans %}Enviamos um e-mail para o endereço informado contendo um link e as instruções para redefinir sua senha.{% endblocktrans %}</p>
        {% url 'contact_form' as contact_form %}
        <p>{% blocktrans %}Se encontrar dificuldade em redefinir sua senha, <a href="{{ contact_form }}">fale conosco</a>.{% endblocktrans %}</p>
    </div>
</div>

{% endblock %}