{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans 'Minhas informações' %}{% endblock %}

{% block content %}

<h1 class="page-header">{% trans 'Alterar senha' %}</h1>

{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
<div class="alert alert-danger"><span>{{ error|escape }}</span></div>
  {% endfor %}
{% endif %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <form id="form-password-change" role="form" method="post" action="{% url 'password_change' %}">

            <div class="input-group input-group{% if form.old_password.errors %} has-error{% endif %}">
                <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                <label for="{{ form.old_password.auto_id }}" class="sr-only">{{ form.old_password.label }}</label>
                {{ form.old_password|add_class:"form-control"|attr:"placeholder:Senha antiga"|attr:"required:required" }}
            </div>
            <span class="help-block">
              {{ form.old_password.help_text|escape }}
              {% if form.old_password.errors %}
                {% for error in form.old_password.errors %}
                  {{ error|escape }}
                {% endfor %}
              {% endif %}
            </span>

            <br>

            <div class="input-group input-group{% if form.new_password1.errors %} has-error{% endif %}">
                <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                <label for="{{ form.new_password1.auto_id }}" class="sr-only">{{ form.new_password1.label }}</label>
                {{ form.new_password1|add_class:"form-control"|attr:"placeholder:Nova senha"|attr:"required:required" }}
            </div>
            <span class="help-block">
              {{ form.new_password1.help_text|escape }}
              {% if form.new_password1.errors %}
                {% for error in form.new_password1.errors %}
                  {{ error|escape }}
                {% endfor %}
              {% endif %}
            </span>

            <br>

            <div class="input-group input-group{% if form.new_password2.errors %} has-error{% endif %}">
                <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                <label for="{{ form.new_password2.auto_id }}" class="sr-only">{{ form.new_password2.label }}</label>
                {{ form.new_password2|add_class:"form-control"|attr:"placeholder:Confirmação da nova senha"|attr:"required:required" }}
            </div>
            <span class="help-block">
              {{ form.new_password2.help_text|escape }}
              {% if form.new_password2.errors %}
                {% for error in form.new_password2.errors %}
                  {{ error|escape }}
                {% endfor %}
              {% endif %}
            </span>

            {% csrf_token %}

            <button class="btn btn-primary" type="submit">{% trans 'Alterar senha' %}</button>
        </form>

    </div>
</div>

{% endblock %}