{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans 'Minhas informações' %}{% endblock %}

{% block content %}

<h1 class="page-header">{% trans 'Senha alterada' %}</h1>

{% include 'messages.html' %}

<div class="row">
    <div class="col-md-12">
        <p>{% blocktrans %}Sua senha foi alterada com sucesso. Lembre-se que apartir de agora para acessar o serviço será necessário usar sua nova senha.{% endblocktrans %}</p>
        {% url 'contact_form' as contact_form %}
        <p>{% blocktrans %}Se encontrar dificuldade para acessar o serviço, <a href="{{ contact_form }}">fale conosco</a>.{% endblocktrans %}</p>
    </div>
</div>

{% endblock %}