{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans 'Recuperar acesso' %}{% endblock %}

{% block content %}

<h1 class="page-header">{% trans 'Recuperar acesso' %}</h1>

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
<div class="alert alert-warning"><span>{{ error|escape }}</span></div>
    {% endfor %}
{% endif %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form role="form" method="post" action="{% url 'password_reset' %}">
            <fieldset>
                <legend>{% trans 'Recuperar acesso' %}</legend>

                {% csrf_token %}

                <p class="text-muted">{% trans 'Um link será enviado para o e-mail informado com o processo para a redefinição de senha.' %}</p>

                <div class="input-group input-group{% if form.email.errors %} has-error{% endif %}">
                    <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                    <label for="{{ form.email.auto_id }}" class="sr-only">{{ form.email.label }}</label>
                    {{ form.email|attr:"type:email"|add_class:"form-control"|attr:"placeholder:E-mail"|attr:"required:required" }}
                </div>
                <span class="help-block">
                  {{ form.email.help_text|escape }}
                  {% if form.email.errors %}
                    {% for error in form.email.errors %}
                      {{ error|escape }}
                    {% endfor %}
                  {% endif %}
                </span>

                <button class="btn btn-success" type="submit">{% trans 'Enviar para e-mail' %}</button>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}