{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans 'Política de privacidade' %}{% endblock %}

{% block content %}

<h1 class="page-header">{% trans 'Política de privacidade' %}</h1>

<h4>ASPECTOS LEGAIS E RESPONSABILIDADES</h4>

<p>O Sítio Eletrônico “Eu sou doador”, www.eusoudoador.com.br, teve sua infra-estrutura desenvolvida pela sua equipe interna, estando sua gestão sob responsabilidade da mesma.<br>
As informações e serviços disponibilizados, bem como sua atualização e manutenção, são de inteira responsabilidade, dos seus idealizadores.<br>
Qualquer informação solicitada será mantida em sigilo no banco de dados do site. Quando for necessária a identificação do usuário, este se compromete a enviar informações verídicas e completas para o atendimento de sua demanda.<br>
Qualquer informação ou serviço existente no sítio, em parte ou no todo, poderá, a qualquer tempo, ser alterado ou excluído sem prévio aviso.<br>
Todo o conteúdo do sítio eletrônico é de propriedade do “Eu sou doador”, ou possui autorização para sua publicação/veiculação.<br>
Qualquer conteúdo (imagens, fotos, textos, tabelas, arquivos) desde que identificada à fonte e atribuído o crédito, podem ser reutilizadas.<br>
As marcas presentes no site são de propriedade dos seus idealizadores sendo proibida sua reprodução, cópia ou modificação sem expressa autorização.</p>

<h4>POLÍTICA DE PRIVACIDADE</h4>

<p>O sítio do “Eu sou doador” adota práticas que visam proporcionar ao usuário um acesso às suas funcionalidades com privacidade e credibilidade. O presente documento tem como objetivo apresentar as diretrizes dessa política.</p>

<br>

<h4>1 - Utilização do sítio</h4>
<p>O sítio do “Eu sou doador” tem caráter gratuito, porém a utilização de alguns serviços somente poderá ser feita mediante inscrição ou registro do usuário.<br>
Quando o sítio do “Eu sou doador” requerer o cadastro do usuário este se compromete em passar informações pessoais verdadeiras e completas e em mantê-las atualizadas. Caso a haja a suspeita, com fundamentos, que as informações passadas são falsas, tem o total direito de suspender o acesso do usuário, e, inclusive recusar futuro cadastramento.<br>
Todas as informações a respeito de cadastro e senha para acesso ao sítio do “Eu sou doador” quando exigido, são de uso exclusivo do usuário e não devem ser repassadas a terceiros.<br>
A senha deve ser sempre protegida e no encerramento das operações deve-se ter o cuidado de sair do sistema.<br>
A partir do momento em que o usuário acessa o sítio, automaticamente estará aderindo e concordando expressamente com as condições aqui dispostas.<br>
O sítio do “Eu sou doador” poderá se recusar ou impedir o acesso ao sítio àqueles usuários que descumpram suas condições.<br>
Todas as informações sobre a navegação do usuário no sítio são armazenadas, como endereço IP, cookies e páginas acessadas.<br>
O sítio “Eu sou doador ”não se responsabiliza pelos danos decorrentes a terceiros das falhas de acesso, transmissão, difusão ou disponibilização do conteúdo e/ou serviços do sítio.</p>

<br>

<h4>2 - Sigilo cadastral</h4>
<p>Todas as informações cadastradas no sítio são mantidas em sigilo nos bancos de dados.<br>
O “Eu sou doador” não repassará nenhuma informação fornecida pelo usuário a terceiros, parceiros ou em qualquer negociação comercial.<br>
Caso o usuário não autorize, nenhuma mensagem será enviada para sua caixa de e-mails, nem tampouco será repassado seu endereço eletrônico para parceiros.<br>
O “Eu sou doador” só utilizará os dados pessoais do usuário, por força da lei, quando intimado a fornecer informações pessoais dos usuários para autoridades governamentais competentes.</p>

<br>

<h4>3 - Direitos autorais</h4>
<p>É autorizada a reprodução total ou parcial sem fins lucrativos do conteúdo deste sítio, desde que citada a fonte, mantendo-se a integridade das informações e respeitando-se o sigilo de terceiros.<br>
Não são permitidas modificações, reproduções, armazenamentos, transmissões, cópias, distribuições ou quaisquer outras formas de utilização para fins comerciais do conteúdo deste sítio sem o consentimento prévio e formal.</p>

<br>

<h4>4 - Utilização de links para o sítio do “Eu sou doador” na Internet</h4>
<p>É autorizada a inserção de links dos sítios do “Eu sou doador” em outros sítios, levando-se em conta as seguintes observações:</p>

<p>4.1 – o “Eu sou doador” não se responsabiliza por alterações promovidas nos links do seu sítio;</p>

<p>4.2 – não é permitido a nenhum domínio utilizar como sua página inicial o acesso direto à página inicial do sítio do “Eu sou doador”.</p>

<br>

<h4>5 - Links a sítios que não sejam do “Eu sou doador”</h4>
<p>O sítio do “Eu sou doador” contém links para outros sítios. O  “Eu sou doador” não se responsabiliza pelas práticas de privacidade ou pelo conteúdo desses outros sítios.</p>

<br>

<h4>6 - Conteúdo do sítio</h4>
<p>O “Eu sou doador” garante que as informações contidas neste sítio são oficiais e atualizadas.<br>
O “Eu sou doador” não se responsabiliza por eventuais erros, imprecisões ou omissões nos materiais disponibilizados através de links de outros sítios, e por quaisquer prejuízos resultantes das informações por eles apresentadas.<br>
A qualquer momento, o “Eu sou doador” se reserva o direito de alterar as informações, modificar ou extinguir qualquer serviço contido neste sítio sem aviso prévio aos usuários.</p>

<br>

<h4>7 - Utilização dos cookies</h4>
<p>A utilização dos cookies é necessária para o processamento de consultas em determinadas bases de dados, evitando a ação de mecanismos de pesquisa automáticos. Para que a consulta seja realizada, o navegador do usuário deve estar habilitado para gravação dos cookies.</p>

<br>

<h4>8 - Acesso a informações nos sistemas informatizados do “Eu sou doador”</h4>
<p>As informações contidas nos sistemas informatizados da Administração Pública estão protegidas por sigilo fiscal/pessoal.<br>
O acesso não autorizado ou não motivado por necessidade de serviço, a disponibilização voluntária ou acidental da senha de acesso ou de informações e a quebra do sigilo constituem infrações ou ilícitos que sujeitam o usuário a responsabilidade administrativa, penal e civil.<br>
O usuário declara-se ciente das responsabilidades acima referidas ao acessar qualquer sistema informatizado no sítio do “Eu sou doador”.<br>
Base Legal: Constituição Federal, Código Penal, Código Tributário Nacional.</p>

<br>

<h4>9 - Atualização da política de privacidade</h4>
<p>Este documento poderá ser alterado pela equipe do “Eu sou doador” a qualquer momento em que julgue conveniente.<br>
Ressalta-se que em nenhuma hipótese as condições de sigilo dos dados cadastrais dos usuários serão afetadas por quaisquer modificações nesta política, sendo garantido e mantido indefinidamente o sigilo de todas as informações armazenadas nos bancos de dados do “Eu sou doador”.</p>

{% endblock %}